.img{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.img img{
    width: 500px;
}
.img button{
    padding: 12px 20px;
    width: 150px;
}
.card{
    width: 400px;
    padding : 30px;
    border: 1px solid gray;
    margin: 20px;
    border-radius: 4px;
    line-height: 23px;
}
.card img{
    width: 70%;
    border-radius: 4px;
}